In [3]:
#Load raw data
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv')
print(df.shape)
df.describe()

(20000, 9)

,IP,@,length,redirected,shortened,sensitive,subDomains,hyphen,Label
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,0.008200,0.014700,39.587650,0.00725,0.059250,0.081850,1.198600,0.234450,0.500000
std,0.090184,0.120352,59.862152,0.08484,0.236098,0.274143,0.658316,0.423665,0.500013
min,0.000000,0.000000,12.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,0.000000,0.000000,22.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,0.000000,0.000000,28.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.500000
75%,0.000000,0.000000,42.000000,0.00000,0.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,5795.000000,1.00000,1.000000,1.000000,6.000000,1.000000,1.000000

In [5]:
#Split the label feature from the other features
#Drop URL as it is a string and not encoded
y = df['Label']
X = df.drop(['Label'], axis=1)

In [13]:
#Split training and testing set
from sklearn.model_selection import train_test_split

X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, 
                                                    test_size = 0.20, random_state = 6)

In [14]:
#Train the Decision Tree model
from sklearn.tree import DecisionTreeClassifier

# instantiate the model 
tree = DecisionTreeClassifier(max_depth = 5)
# fit the model 
tree.fit(X_train_val, y_train_val)
y_test_tree = tree.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score

print("Decision Tree accuracy is {:.4f}".format(accuracy_score(y_test, y_test_tree)))

Decision Tree accuracy is 0.8520

In [16]:
#Save model
import pickle

with open('model.pkl', 'wb') as f:
    pickle.dump(tree, f)